/* Ticker Styling */
.ticker-wrapper.has-js {
	margin: 20px 0px 20px 0px;
	padding: 0px 20px 0 0;
	width: 100%;
	height: 45px;
	display: block;
	background-color: #f1f1f1;
}
.ticker {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #f1f1f1;
}
.ticker-title {
	color: #fff;
	font-weight: bold;
	background-color: #f1f1f1;
	text-transform: uppercase;
	line-height: 45px;
	font-size: 14px;
	background: #dc3522;
	/*padding: 0 20px;*/
	position: relative;
}

.ticker-title:before{
	content: '';
	position: absolute;
	top: 50%;
	right: -6px;
	height: 0;
	width: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left:6px solid #dc3522;
	margin-top: -6px;
}

.ticker-content {
	margin: 0px;
	position: absolute;
	color: #323232;
	font-weight: 400;
	background-color: #f1f1f1;
	/*overflow: hidden;*/
	white-space: nowrap;
	line-height: 0;
	/*left: 130px !important;*/
	margin-left: 3%;
    bottom:23px;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	color: #323232;
}

.ticker-content a:hover {
	color: #3d3d3d;
}

.ticker-swipe {
	padding-top: 20px;
	position: absolute;
	top: 0px;
	background-color: #f1f1f1;
	display: block;
	width: 100%;
	height:100%; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
	display: none;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
.ticker-controls li.jnt-play-pause {
	background-image: url('../images/controls.png');
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('../images/controls.png');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('../images/controls.png');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('../images/controls.png');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 19% !important;*/
    /*left: 20px !important;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}