.captions_container
{
    border-bottom: 1px solid #d4d4d4;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background: #ebebeb;
    margin-bottom: 50px;
}
.captions_content
{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.captions_title
{
    text-align: center;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    font-family: 'GothamProLight';
    font-weight: 100;
    letter-spacing:normal;
    text-decoration: none;
}

.captions_small_text
{
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: #797979;
}
.captions_small_link
{
    width: 100%;
    text-align: center;
}
