#feedback_cont {
    white-space: nowrap;
    text-align: justify;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    color: #646464;
}
.feedback_cont_left
{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
    white-space: normal;
    padding-right: 15px;
}

.feedback_cont_right
{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    vertical-align: top;
    white-space: normal;
    padding-left: 15px;
}

.feedback_input
{
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #646464;
    box-sizing: border-box;
    display: inline-block;
    outline: none;
    color: #646464;
}

#feedback_input_message
{
    border: 1px solid #646464;
    outline: none;
    width: 100%;
    height: 138px;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #646464;
}

#feedback_send_message
{
    background: #567abe;
    height: 30px;
    box-sizing: border-box;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
#feedback_send_message:hover
{
    background: #3a56a3;
}
#feedback_send_message:focus
{
    outline: none;
}
#feedback_send_message_cont
{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.feedback_input_cont
{
    width: 100%;
    display: inline-block;
    position: relative;
}
.feedback_err_show .feedback_err
{
    display: inline-block;
}
.feedback_err
{
    position: absolute;
    top: 0;
    right: 0px;
    display: none;
    font-weight: bolder;
}

#feedback_cont .feedback_err_show input,
#feedback_cont .feedback_err_show textarea
{
    border:1px solid #ff5823;
}