.slider_container .bx-wrapper .bx-viewport {
    -moz-box-shadow:rgba(0, 0, 0, 0.117647) 0px 0px 10px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.117647) 0px 0px 10px 0px;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 0px 10px 0px;
}
.slider_container .bx-wrapper .bx-pager {
    background: #ebebeb;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    padding: 0;
    bottom: -18px !important;
}

.slider_container .bx-wrapper .bx-pager .bx-pager-item
{
    display: inline-block;
    vertical-align: middle;
}

.slider_container .bx-wrapper .bx-pager.bx-default-pager a
{
    width: 6px;
    height: 6px;
    background: #d4d4d4;
}
.slider_container .bx-wrapper .bx-viewport
{
    left: 0;
}

.slider_container .bx-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}


.slider_container .bx-wrapper .bx-pager.bx-default-pager a:hover,
.slider_container .bx-wrapper .bx-pager.bx-default-pager a.active
{
    background: #fe7549;
}

.slider_container
{
    display: block;
    width: 100%;
}

.bxslider {
    margin: 0;
    padding: 0;
}