/*
Theme Name: Sellfing Wild
Theme URI: www.sellfing_studio.com
Description: This is commercial theme.
Author: Nick
Author URI:  www.sellfing_studio.com
Version: 1.0
.

.
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,200,600italic);
html
{
    height: 100%;
}
body
{
   /* background: #525252;*/
    width: 100%;
    min-width: 1020px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}
ul
{
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
a
{
    color: #333;
}
p{
    margin: 0;
    padding: 0;
}
h1,
h2,
h4,
h3
{
    margin: 0;
    padding: 0 20px;
    font-size: 18px;
    color: #646464;
    letter-spacing: 0.8em;
    text-transform: uppercase;
}
h1,h2
{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
}
h4
{
    font-size: 14px;
}
#site_header
{
    height: 40px;
    width: 100%;
    line-height: 36px;
    background: #828282;
    padding:0 30px;
    position: relative;
    box-sizing: border-box;
}

#logo_cont
{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    text-decoration: none;
}
#site-title
{
    color: #fff;
    text-transform: uppercase;
    font-family: 'RobotoRegular';
    text-decoration: none;
    line-height: 40px;
    vertical-align: middle;
}
#site-description
{
    font-size: 16px;
    color: #828282;
    font-family: 'RobotoLight';
}
#menu_top_cont
{
   float: right;
    height: 100%;
    line-height: 40px;
}
#menu_top_cont .current-menu-item,
#menu_top_cont .current_page_item
{
    height: 40px;
    border-bottom: 2px solid #ff5823;
}
#menu_top_cont .current-menu-item a,
#menu_top_cont .current_page_item a
{
    color: #333;
}
#primary-menu {

}

.menu-item
{
    white-space: normal;
    display: inline-block;
    padding:0 15px;
    box-sizing: border-box;
    list-style:none;
    float: left;
}
.menu-item:hover
{
    height: 40px;
    border-bottom: 2px solid #ff5823;
}
.menu-item a,
.menu-item a:hover
{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.breadcrumbs
{
    height: 65px;
    width: 100%;
    line-height: 65px;
    padding-left: 40px;
    background: rgb(242, 242, 242);
    font-size: 20px;
    box-sizing: border-box;
}
.breadcrumbs a
{
    text-decoration: none;
    color: #646464;
}
.breadcrumbs a:hover
{
 text-decoration: underline;
}
.breadcrumbs .unlink
{
    color: #acacac;
}

.bxslider
{
    width: 100%;
}




#last_news_container
{
    width: 100%;
    white-space: nowrap;
    margin-bottom: 50px;
}
.last_news_item
{
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    padding: 20px;
    vertical-align: top;
}
.last_news_item .last_news_item_img
{
    -webkit-filter: grayscale(0.9);
    cursor: pointer;
}

.last_news_item .last_news_item_img:hover
{
    -webkit-filter: grayscale(0);
}

.last_news_item_read
{
    font-weight: bolder;
    color: #333;
}

.last_news_item_title
{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
    font-family: 'GothamProLight';
}
.last_news_item_title:hover
{
    text-decoration: none;
    color: #ff5823;
}
.last_news_item_content
{
    line-height: 1.5;
}

.last_news_item_hr
{
    width: 80%;
}

#about_page_content_cont .next,
#about_page_content_cont .prev
{
    text-decoration: none;
}
.page-numbers
{
    margin: 0 10px;
}
.page-numbers.current
{
    font-weight: bolder;

}
#pagination_bottom,
#pagination_top
{
    margin: 20px 0;
}




#page
{
    padding-bottom: 150px;
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}
.site-footer
{
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    background: #333;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#footer_right_cont
{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    height: 150px;
    vertical-align: middle;
    line-height: 150px;
}
#footer_right_cont p
{
   line-height: normal;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

#footer_left_cont
{
    width:250px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    color: #d4d4d4;
}
#footer_copyright
{
    position:absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
}
#footer_right_cont_title
{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-family: 'GothamProLight';
}

.footer_right_item_menu
{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.footer_right_item_menu:nth-of-type(1)
{
    margin-left: 10px;
}
.footer_right_item_menu:active,
.footer_right_item_menu:visited
{
    color: #fff;
}

.footer_right_item_menu:hover
{
    text-decoration: underline;
}
#rootpage_map_cont
{
    width: 100%;
    text-align: center;
}
#rootpage_map {
    width: 80%;
    display: inline-block;
    height: 350px;
    margin-top: 20px;
}

.firstHeading
{
    letter-spacing: normal;
}

#content
{
}

#about_page_content_cont
{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}


#about_page_content
{
    display: inline-block;
    text-align: left;
    width: 940px;
    line-height: 1.5;
}

.alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}

.alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.title_page
{
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 6px;
    margin-top:15px;
}